@model CalculadoraInt.Models.Prestamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Periodo
        </th>
        <th>
            Cuota
        </th>
        <th>
            Interes
        </th>
        <th>
            Amortiz al Principal
        </th>
        <th>
            Amortiz Acumulada
        </th>
        <th>
            Capital Pendiente
        </th>
        <th>
            Accion
        </th>
    </tr>

    @foreach (var item in Model.Cuotas.ToArray())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amortiz_Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amortiz_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capital_Pendiente)
            </td>
            <td>
                @Html.ActionLink("Pagar", "Delete", new { id = item.CuotasID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Atras", "Index")
</p>